.bottomBar{
    background-color: #181818;
    bottom: 0;
    color: white;
    display: flex;
    height: 100px;
    position: absolute;
    width: 100%;
}

.bottomBarSide{
    height: 100%; 
    width: 27%; 
}

.bottomBarCenter{
    height: 100%;
    width: 46%;
}